<!-- Add our already existing header ejs partial -->
<%- include("../views/partials/header"); -%>

    <div class="container-fluid">
        <div class="row col-sm-6 "></div>
                <div class="home-text col-sm-6">
                    <h1><%= homeContent %> </h1>
                    <p>CENTSWOMAN is the one-stop blog for everything finance for women. We give you great, actionable advice so you can be financially independent and in better control of your money.</p>
                </div>
        
                <div class="home-photo col-md-6 image-container">
                    <img class="home-img" src='./images/home-img1.jpeg' alt="six black women">
                </div>   
        </div>


        <div class="more-content">
            
        </div>

        <div class="blog-content">
            <h2>Read the blog</h2>
            <p>We have tons of resources for anything money-related: budgeting, investment, cryptocurrency, wealth management and savings!</p>

                <!-- add a new item to existing list -->
            <div class="blog-item">
                <% newPosts.forEach(function(post) { %>
                    <h4> <%= post.title %> </h4> 
                    <p> <%= post.content %> </p> 
                    <hr>
                            <%  }) %>
            </div>
        </div>

        <div class="new-post">
            <p>Go here to add a new post</p>
            <a class="btn" href="/compose">Compose</a>
        </div>
    </div>

        

    <!-- Add our existing footer ejs partial -->
<%- include("../views/partials/footer"); -%>

